[submodule "native/speexdsp"]
	path = native/speexdsp
	url = https://github.com/xiph/speexdsp.git
[submodule "native/opus"]
	path = native/opus
	url = https://github.com/xiph/opus.git
[submodule "native/aom"]
	path = native/aom
	url = https://aomedia.googlesource.com/aom
[submodule "native/flac"]
	path = native/flac
	url = https://github.com/xiph/flac.git
